*{
margin: 0;
background-color: #0D1117
}

.searchDiv{
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.githubTitle{
    color: white;
    text-align: center;
}

.githubTitle > h1 {
    font-size: 100px;
    margin-bottom: 30px;
}

/* .searchBar {
    margin-right: 20px;
    border-style: none;
    border-radius: 50px;
} */


  
/* 
.footer{
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
} */

.searchBar{
    color: white;
}

.searchButton{
    color: white;
}

