*{
margin: 0;
background-color: black;
}

.searchDiv{
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.githubTitle{
    color: white;
    text-align: center;
}

.footer{
    position:absolute;
    bottom:0;
}

.searchBar{
    color: white;
}

.searchButton{
    color: white;
}

