*{
margin: 0;
background-color: black;
}

.searchDiv{
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.githubTitle{
    color: white;
    text-align: center;
}
/* 
.footer{
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
} */

.searchBar{
    color: white;
}

.searchButton{
    color: white;
}

